<div class="row mt-3 ml-3">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item  bg-dark text-white">AREAS</li>
      <button
        type="button"
        class="btn btn btn-secondary mb-1"
        *ngFor="let i of areas"
        (click)="areaSeleccionada(i)"
      >
        {{ i }}
      </button>
    </ul>
  </div>

  <div class="col-5" *ngIf="validacion">
    <div class="card bg-primary ml-1" style="width: 20rem">
      <div class="card-body bg-white">
        <h5 class="card-title text-center h3">
          {{ tituloDetalles }}
        </h5>
        <p class="card-text text-center">Ciudad: {{ claseDetalles.town }}</p>
        <p class="card-text text-center">Jefe: {{ claseDetalles.boss }}</p>
        <p class="card-text text-center">Edad: {{ claseDetalles.age }}</p>
        <p class="card-text text-center">Ultima licencia: {{ claseDetalles.last_degree }}</p>
      </div>
    </div>
  </div>

  
</div>

<div class="row mt-3 ml-3">

  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item  bg-dark text-white ">DEPARTAMENTOS</li>
      <li class="btn btn-secondary mb-1 disabled" *ngFor="let i of departamentos">
        {{ i }}
      </li>
    </ul>
  </div>

</div>
